.header {
  display: flex;
  justify-content: space-between;
  border: solid black;
}
.header > div > img {
  height: 100%;
  width: 100px;
}
.nav-bar > ul {
  display: flex;
}
.dot-active {
  height: 15px;
  width: 15px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}
.dot-inactive {
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}
.nav-bar > ul > li {
  padding: 5px;
  list-style-type: none;
  font-size: 20px;
  margin: 5px;
  cursor: pointer;
}
.nav-bar > ul > li:hover {
  background-color: lightgray;
}

.nav-bar > ul > li > img {
  height: 25px;
  width: 30px;
}
.restaurant-card-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  margin: 5px;
}
.restro-cards {
  width: 16%;
  text-decoration: none;

}
.restro-card-link{
  text-decoration: none;
  color: black;
}
.restro-card {
  background-color: coral;
  height: 370px;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
}
.restro-card:hover {
  cursor: pointer;
  border: 5px solid turquoise;
}
.restro-logo {
  width: 100%;
  height: 60%;
}

.cusines {
  width: fit-content;
  height: 5%;
}
.extaInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
}
.restro-title {
  font-size: medium;
  height: 5%;
  align-items: center;
}
.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  padding: 10px;
}
.filter-btn {
  background-color: coral;
  border-radius: 5%;
  border: none;
  height: 30px;
  align-items: center;
  font-size: large;
  padding: 5px;
  margin: 5px;
}
.search-btn {
  background-color: coral;
  border-radius: 5%;
  border: none;
  height: 30px;
  align-items: center;
  font-size: large;
  padding: 5px;
  margin: 5px;
}
.search-text {
  border-radius: 5%;
  border: 3px solid coral;
  padding: 5px;
  margin: 5px;
  font-size: medium;
}
.filter-btn:hover {
  cursor: pointer;
  border: 5px solid turquoise;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  -webkit-mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/300%
    100%;
  background-repeat: repeat-x;
  animation: shimmer 2s infinite;
}
.login-btn {
  height: 20px;
  width: 60px;
  border-radius: 5px;
  cursor: pointer;
}
.shimmer-card {
  width: 15%;
  padding: 5px;
  margin: 5px;
  background-color: lightgrey;
  height: 350px;
}

@keyframes shimmer {
  100% {
    -webkit-mask-position: left;
  }
}
.about-container{
  display: contents;
}
.about-title > h1{
  color: firebrick;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.logo-gif {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  color: firebrick;
  text-align: center;
}
.logo-gif > img{
 width: 25%;
}
.mission {
  color: orangered;
  display: block;
  margin: 10px;
  padding: 10px;
  font-family: sans-serif;
}
.mission-content{
  font-size: x-large;
  text-align-last: left;
  font-family: sans-serif;
}
.contact-container{
  text-align: center;
  color: blueviolet;
}

.error-container{
  color: red;
  display: block;
  text-align: center;
}
.error-container>img{
  height: 300px;
  width: 300px;;
}

.restaurant-menu-info{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height:100%;
  margin: 20px;
  padding: 10px;
}
.restaurant-info-card{
  color: orangered;
  display: block;
  flex-wrap: wrap;
  width: 100%;
  height: 20px;
  margin: 20px;
  padding: 5px;
}
.restro-area-name{
  font-size: large;
}
.restaurant-menu-left-info{
  height: 100px;
  width: 50%;
}
.restaurant-menu-name{
  color: green;
}
.restaurant-menu-desc{
  color: black
}
.restaurant-menu-price{
  font-weight: bold;
  color: green;
}
.restaurant-menu-rating{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.restaurant-menu-rating-image{
  height : 23px;
  padding-right: 5px;
}
.restaurant-menu-image{
  width: 70px;
  height: 70px;
  border-radius: 5px;
}
.avatar{
  height: 300px;
  width: 300px;
}
.user-info{
  color: tomato;
}